@page "/tests"
@using CheesyCroco.Data

<PageTitle>Tests</PageTitle>

<h1>Cheesy Croco Tests</h1>


<p>There is the test list.</p>


<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Test rate</th>
            <th>Test pass number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in tests)
        {
            <tr>
                <td>
                    <NavLink class="btn btn-square" href="testpage">@test.name</NavLink>
                </td>
                <td>@test.rate</td>
                <td>@test.passCounter</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private Test[]? tests;

    protected override async Task OnInitializedAsync()
    {
        TestService ts = new TestService();
        if (ts.connect())
            tests = await Task.FromResult(Enumerable.Range(1, 5).Select(index => new Test
                {
                    name = "Test name (click on me)",
                    rate = 5,
                    passCounter = 100000000
                }).ToArray());
        else
            tests = await Task.FromResult(Enumerable.Range(1, 5).Select(index => new Test
                {
                    name = "Test name (click on me)",
                    rate = 0,
                    passCounter = 0
                }).ToArray());
    }
    private void SendToTest()
    {
        
    }
}
